<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Instructor to Course</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <button class="exit-button" onclick="window.location.href='/'">Exit</button>
        <nav class="main-menu">
            <ul class="menu-options">
                <li><a href="{% url 'view_courses' %}">View Courses</a></li>
                <li><a href="{% url 'add_student' %}">Add Student</a></li>
                <li><a href="{% url 'view_students' %}">View Students</a></li>
                <li><a href="{% url 'view_instructors' %}">View Instructors</a></li>
                <li><a href="{% url 'search' %}">Search</a></li>
                <li><a href="{% url 'enroll_student' %}">Enroll a Student</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="welcome-message">Assign Instructor to Course</h1>
    <form method="post" class="student-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"class="submit-button">Assign</button>
    </form>
</body>
</html>
